    .hero {

    width: 100px;
    height: 100px;
}

.shakeCSS {
    animation: shakeIt 0.1s infinite;
}

@keyframes shakeIt {
    25% {
        transform: translateX(-7px)
    }
    75% {
        transform:translateX(7px)
    }
}
